<script setup lang="ts">
import { RouterView } from "vue-router";
import { ref } from "vue";

</script>

<template>
  <v-app>
    <v-app-bar :elevation="2">
      <v-app-bar-title>Midterm Problems</v-app-bar-title>
    </v-app-bar>

    <v-navigation-drawer expand-on-hover rail>
      <v-list density="compact" nav>
        <v-list-item
         
          title="Problems"
          class="text-body"
          to="/"
        ></v-list-item>
        <v-list-item
          
          title="Problem 1"
          class="text-body"
          to="/solve-problem-1"
        ></v-list-item>
        <v-list-item
          
          title="Problem 2"
          class="text-body"
          to="/solve-problem-2"
        ></v-list-item>
        <v-list-item
          
          title="Problem 3"
          class="text-body"
          to="/solve-problem-3"
        ></v-list-item>
        <v-list-item
          
          title="Problem 4"
          class="text-body"
          to="/solve-problem-4"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<style></style>
